header{
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgb(77, 75, 75);
}

header ul{
    text-align: center;
    padding: 5px 0;
    color: white;
}

header li{
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
    font-weight: 1000;
    font-size: 12px;
}

header li:hover{
    color: rgb(77, 75, 75);
    background-color: white;
    border-radius: 4px;
    letter-spacing: 2px;
    transition: 0.3s;
}

a{
    text-decoration: none;
    color: white;
}

header a:hover{
    text-decoration: none;
    color: rgb(77, 75, 75);
}

body{
    background-image: url("./image/bg.jpg");
    color: rgb(77, 75, 75);
    margin: 0;
    padding: 0;
}

#home{
    position: relative;
    top: 75px;
    background-color: rgb(77, 75, 75);
    width: 100%;
    padding: 250px 0;

    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*ANIMASI TEKS*/
.animasi-teks{
    text-align: center;
    font-size: 50px;
    color: white;
    width: 71%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typng 4s steps(70, end);
    animation: typing 4s steps(70, end);
}

.teks{
    position: absolute;
    margin: 200px auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

@keyframes typing{
    from{ width: 0px;}
}

@-webkit-keyframes typing{
    from{ width: 0px;}
}

#con{
    background-color: rgba(255, 255, 255, 0.959);
    position: relative;
    top: 75px;
    width: 70%;
    display: block;
    margin: 0 auto;
    border-style: hidden;
}

h1{
    color: rgb(77, 75, 75);
    text-align: center;
    font-family: 'Lucida Sans', serif;
    font-size: 25px;
    text-decoration-line: underline;
    line-height: 30px;
}

footer{
    position: relative;
    top: 60px;
    height: 40px;
    width: 100%;
    bottom: 0;
    background-color: rgb(77, 75, 75);
    color: white;
    text-align: center;
    padding: 5px 0;
}

.line{
    border: 1px solid white;
    width: 80%;
    margin: 0 auto;
}

footer p{
    font-family: Georgia;
    font-size: 12px;
}

/*BIODATA*/
#biodata{
    position: relative;
    height: 290px;
    padding: 180px 0;
    width: 100%;
}

.box-1,
#personalSkills .box-1{
    width: 50%;
    float: left; 
    text-align: center;
    padding: auto 0;
}

.box-2,
#personalSkills .box-2{
    width: 50%;
    float: right;  
}

.foto img{
    border-radius: 10%;
    height: 300px;
    overflow: hidden;
}

#data{
    height: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.biodata{
    padding-top: 20px;
}

#data tr{
    height: 40px;  
}

.img{
    position: relative;
    text-align: center;
}

/*EDUCATION*/
#education{
    position: relative;
    height: 400px;
    padding: 130px 20px;
}

#education img{
    position: relative;
    padding: 0 auto;
    height: 150px;
    width: auto;
}

#education h3{
    font-size: 18px;
    text-align: center;
    line-height: 0;
}

#education h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    text-align: center;

    line-height: 0;
}

#education p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 0;
}

/*EXPERIENCE*/
#experience{
    position: relative;
    height: auto;
    padding: 70px 20px;
}

#experience img{
    position: relative;
    padding: 0 30px;
    height: 100px;
    width: auto;
}

#experience h3{
    font-size: 18px;
    text-align: center;
    line-height: 0;
}

#experience h4{
    font-family: 'Arial Narrow';
    font-size: 17px;
    text-align: center;

    line-height: 0;
}

#experience p{
    font-family:  'Lucida Grande';
    font-size: 15px;
    text-align: center;
    line-height: 0;
}

/*PERSONAL SKILLS*/
#personalSkills{
    position: relative;
    padding-top: 150px;
    height: 500px;
    width: 100%;
    text-align: center;
}

#personalSkills .data{
    text-align: center;
    margin-left: 70px;
    margin-top: 50px;
}

#personalSkills .foto{
    opacity: 0.8;
}

#personalSkills p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 15px;
}

/*TECHINAL SKILLS*/
#technicalSkills{
    position: relative; 
    height: auto;
    padding: 90px 20px;
    text-align: center;
}

#technicalSkills img{
    position: relative;
    padding: 0 30px;
    height: 200px;
    width: auto;
}

/*CONTACT*/
#contact{
    position: relative;
    top: 65px;
    height: auto;
    width: 100%;
    background-color: rgb(77, 75, 75);
    color: white;
    text-align: center;
}

#contact h1{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', serif;
    font-size: 17px;
    text-decoration-line: underline;
    line-height: 20px;
    padding-top: 20px;
}

.contact{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 10px;
}
